:root {
  --primary-color: black;
  --secondary-color: #bbb9b8;
  --li-color: #4e5e43;
}

.App {
  max-width: 800px;
  margin: 30px auto;
}

footer {
  margin: 10px;
  font-size: 16px;
  text-align: center;
}

@media (max-width: 576px) {
  .bottomlink,
  footer {
    font-size: 10px;
  }
}
