.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}

.WeatherForecast canvas {
  width: 40px;
  position: relative;
  bottom: 0px;
  height: auto;
  left: 0px;
  top: 0px;
  font-weight: lighter;
}
